.nav, .nav * {
	margin:0;
	padding:0;
}


div#horiz-menu {  /* this is a z-index ie6 and ie7 bug fix */
	position: relative;
	z-index: 50;
}

#horiz-menu li li {
	margin: 0;
}

.nav {
	line-height:1.0;
	float:left;
	margin-bottom:1.5em;
	position: relative;
	padding-top:12px;
	width:100%;
}
.nav ul {
	background:#fff; /*IE6 needs this*/
	padding: 0;
	margin:0;
}

.nav li {
	float:left;
	list-style:none;
	position:relative;
	color:#000000;	
	margin-right:10px;
	margin-left:10px;
}

.nav li li a {
	display:block;
	padding: 0;
	text-decoration:none;
	float:none;
	color:#ffffff;
}
.nav li li a:hover {
	display:block;
	padding: 0;
	text-decoration: underline;
	float:none;
	color:#ffffff;
}

div#horiz-menu li li a {
	height: 30px;
	line-height: 30px;
}

.nav li ul {
	float:none;
	left:-999em;
	position:absolute;
	width: 120px;
	z-index: 5;
	padding-right:10px;
}

.nav li:hover ul,
.nav li.sfHover ul {
	left:0px;
	top: 30px;
}
.nav li:hover li ul,
.nav li.sfHover li ul,
.nav li li:hover li ul,
.nav li li.sfHover li ul,
.nav li li li:hover li ul,
.nav li li li.sfHover li ul {
	top:-999em;
}
.nav li li:hover ul,
.nav li li.sfHover ul,
.nav li li li:hover ul,
.nav li li li.sfHover ul,
.nav li li li li:hover ul,
.nav li li li li.sfHover ul {
	left: 177px;
	top:0px;
	width: 120px;
	padding-right:10px;
}

.nav li li {
	position: relative;
	float:none;
	width: 120px;
	padding-right:10px;
}


